import * as S from './styles'

function {{pascalCase name}}() {

  return (
    <S.{{pascalCase name}}>
      <h1>{{pascalCase name}}</h1>
    </S.{{pascalCase name}}>
  )
}

export default {{pascalCase name}}